body {
    font-family: 'Space Mono', monospace;
}

.background_image {
    background-image: url("../images/bighousefall2021.jpeg");
    background-color: #f1f1f1;
    background-size: cover;
}

.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:40px;
    color: black;
    text-decoration-style: solid;
  }

header {
    background-color: lightblue;
}

.top_text_on_background {
    color: black;
}

.bottom_text_on_background {
    color:black;
}

h1{
    font-size: 45px;
    margin: 12px 0;
    text-align: center;
    animation: move 3s ease;
}

h1:hover {
    color: green;
}

@keyframes move {
    from {
        font-size: 12px;
        margin-top: 0;
        color: red;
    }
}

.intro {
    background-image: url('../images/throwingrockinwater.jpg');
    min-height: 400px;
    background-color: #707070;
    
    background-attachment: fixed;
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media screen and (prefers-reduced-motion: reduce) {
    h1 {
        animation: none;
    }
    .flip-card {
        animation: none;
    }

    .intro {
        background-attachment: inherit;
    }

    .flip-card .flip-card-inner {
        transform: rotateY(180deg);
    }
}


footer{
    background-color: khaki;
    padding: 32px 8px;
    text-align: left;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:visited {
    color: blue;
}

.active{
    background-color: rgb(119, 189, 235);
    font-weight: bold;
    border: 2px solid black;
    font-style: italic;
}

img{
    padding: 0px;
    border: 0 none;
    border-radius: 0;
    background-color: none;
    width: 300px;
    margin: 18px 18px;
    align-self: center;
}

video{
    width: 300px;
    border: 4px solid red;
    border-radius: 20px;
    margin: auto;
}

.page {
    background-color: yellow;
}

div {
    padding: 10px;
}

nav li{
    padding: 8px;
}

.about-me-pics-container {
    text-align: center;
}

.about-me-pic {
    display: inline-block;
}


.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.container1 {
    display: grid;
    grid-template-columns: 1fr;
}


.setFirstMichPic {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    justify-self: center;
}

.setSecondMichPic {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
}

.setThirdMichPic {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
}

.setFourthMichPic {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: center;
}

.setFifthMichPic {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;
}

.setSixthMichPic {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    justify-self: center;
}

.setSeventhMichPic {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    justify-self: center;
}

.setEighthMichPic {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    justify-self: center;
}

@media screen and (min-width: 500px) {
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    .setFirstMichPic {
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
        justify-self: center;
    }
    
    .setSecondMichPic {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
    }
    
    .setThirdMichPic {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
    }
    
    .setFourthMichPic {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        justify-self: center;
    }
    
    .setFifthMichPic {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        justify-self: center;
    }
    
    .setSixthMichPic {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        justify-self: center;
    }
    
    .setSeventhMichPic {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        justify-self: center;
    }
    
    .setEighthMichPic {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
        justify-self: center;
    }
}

@media screen and (min-width: 800px) {
    img {
        width: 400px;
        padding: 5px;
        border: 4px solid blue;
        border-radius: 25px;
        background-color: rgb(0, 153, 255);
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    .setFirstMichPic {
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
        justify-self: center;
    }
    
    .setSecondMichPic {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
    }
    
    .setThirdMichPic {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
    }
    
    .setFourthMichPic {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        justify-self: center;
    }
    
    .setFifthMichPic {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        justify-self: center;
    }
    
    .setSixthMichPic {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        justify-self: center;
    }
    
    .setSeventhMichPic {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        justify-self: center;
    }
    
    .setEighthMichPic {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
        justify-self: center;
    }

    main p {
        margin-left: 100px;
        margin-right: 100px;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
}

#button_text {
    font-size: 30px;
    text-align: center;
}

#hidden_until_button_click {
    display: none;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 500px;
    border: 0px;
    perspective: 1000px;
    padding-bottom: 100px;
    text-align: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card:active {
    transform: rotateY(180deg);
}

.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
    color: black;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

#contact_text {
    text-align: center;
    font-size: 20px;
}

#contact_image {
    text-align: center;
    width: 350px;
    border: 0;
    border-radius: 0;
    background-color: none;
}
